build.txt
Dockerfile.bad
Dockerfile.good
hellonode.yaml
Jenkinsfile
Jenkinsfile.org
README.md
.sonarcloud.properties
.git
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
